.menuContainer{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 65px;
    list-style-type:none;
    background-color: #4b8b8e;
}
.logo{
    width: 5%;
    height: 5%;
}
.headerBorder{
    background: linear-gradient(90deg, #203a53, hsla(0, 0%, 61%, .239), #fff);
    display: flex;
    height: 4px;
    width: 100%;
}